*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Josefin Sans', sans-serif;
}

.part1{
    background: url("https://sahilbansalweb.github.io/DonateToHelp/img/pexels-roman-odintsov-4871011.jpg") no-repeat ;
    background-size: cover;
}

.donatepage{
    display:block;
    /* align-items: center; */
    /* justify-content: center; */
     text-align: center;
    /* background: skyblue; */
    /* width: 17vw; */
   /* margin: auto;
    height: 48px; 
    border: 2px solid black;
    border-radius: 5px; */
}
.donatepage button{
    padding: 10px 20px 10px 20px;
    border: 2px solid black;
    border-radius: 8px;
    background: skyblue;
    font-size: 18px;
}
.donatepage button:hover{
    background: snow;
}
.donatepage a:hover{
    color: black;
}

.header img{
    height: 5rem;
    width: 5rem;
}
#home img{
    height: 2.5rem;
    width: 2.5rem;
}
.center{
    margin: 15vh;
    font-size: 4rem;
}

.text2{
    margin: 5vh;
    font-size: 2rem;
}

.donate{
    display: flex;
    align-items: center;
    justify-content: center;
}


a{
    text-decoration: none;
    font-size: 1.6rem;
    color: black;
    font-weight: 800;
}

a:hover{
    color: blanchedalmond;
}

.hright{
    position:fixed;
    z-index: 10;
    right: 0;
}

.midh a:hover{
    color: rgb(238, 217, 217);
}
.wcenter{
    padding-bottom: 140px;
}

.part2{
    background: url("https://sahilbansalweb.github.io/DonateToHelp/img/pexels-mikhail-nilov-7473992.jpg") no-repeat;
    background-size: cover;
}

.services{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: center; */
    text-align: center;
    overflow: hidden;
    padding-top: 2rem;
}

.services h1{
    font-size: 6rem;
    color: black;
}

.item{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    margin-top: 5px;
    /* width: 100vw; */
}

.it{
    margin: 10px 50px 10px 50px;
    width: 700px;

}

.it:hover{
    cursor: pointer;
}

.lline{
    margin-top: 30px;
    font-size: 3rem;
    font-family: 'Palanquin Dark', sans-serif;
    padding: 6rem;
    color: white;
}

.part3{
    background: #1e1e1e;
    display: flex;
    flex-direction: column;
}

.k{
    display: flex;
    flex-direction: row;
    padding: 30px;
    color: azure;
}
.k2{
    display: flex;
    margin-top: 25px;
}
.ficon,.g1,.g2,.follow{
    padding: 20px;
    margin: 0px 40px 0px 40px;
}
.g3{
    font-weight: 900;
    font-size: 18px;
}
.k a{
    color: white;
}
.follow{
    font-size: 25px;
    text-align: center;

}
.follow a{
    font-size: 17px;
}
.copyr{
    /* align-items: center; */
    color: white;
    text-align: center;
    padding: 15px;
}

.spaced{
    height: 3rem;
}

@media (max-width:450px){
    /* body{
        overflow: hidden;
    } */
    .hright{
        display: none;
    }
    .k2{
        display: none;
    }
    .follow{
        font-size: 20px;
        align-items: center;
    }
    .center{
        font-size: 2rem;
        text-align: center;
    }
    #home{
        display: none;
    }
    .hmidh a{
        font-size: 16px;
    }
        
}